body {
				background-image: url("P4-MC.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
}

.todo-app {
				width: 80%;
				margin: 0 auto;
				border: 4px solid;
				border-radius: 4px;
				padding: 0 8px;
				background-color: #fff100;
				
}

.app-title-div {
				text-align: center;
	  background-color: #000000;
	  color: #fff100;
	  font-style: italic;
	  border-radius: 4px;
}

h1 {
				padding: 5px 0;
}

.delete-all-btn-div {
				width: 95%;
				margin: 0 auto 10px auto;
				display: flex;
				justify-content: space-around;
}

button {
				border: 2px double;
			font-weight: bolder;
			font-style: italic;
			color: #fff100;
			background-color: #000000;
			border-radius: 4px;
			box-sizing: border-box;
}

button:focus {
				outline: none;
}

.delete-all-btn {	
			height: 40px;
}

.disabled {
				color: #4b4b4b;
				background-color: #767928;
}

.add-btn-div {
				width: 95%;
				margin: 0 auto;
				display: flex;
				justify-content: space-around;
}

.add-btn-div > div {
				display: flex;
}

#task-input-box {
				padding-left: 4px;
				margin-right: 5px;
				width: 80%;
				height: 38px;
				font-size: 16px;
				border: 2px solid #797979;
				border-radius: 4px;
				box-sizing: border-box;
}

#task-input-box::placeholder {
				color: #d71247;
}

#task-input-box:focus {
				border-color: #000000;
				outline: none;
}

#add-task-btn {
			width: 20%;	
			height: 38px;
}

#task-list {
				width: 100%;
				height: 315px;
}

ul {
				padding: 0;
				overflow-y: scroll;
				list-style-type: armenian;
}

.main-div {
				display: flex;
				justify-content: space-between;
				margin-bottom: 3px;
}

.sub-div1 {
				width: 60%;
				padding-left: 5px;
				color: #fff100;
				background-color: #000000;
				border-radius: 4px;
				margin-right: 3px;
				display: flex;
				align-items: center;
}

#task-update-box {
				width: 100%;
				border-radius: 4px;
				font-size: 16px;
				padding-left: 5px;
				color: #fff100;
				background-color: #000000;
				border: none;
}

#task-update-box:focus {
				outline: none;
}

#task-update-box::placeholder {
				color: #d71247;
}

.sub-div2 {
				width: 120px;
				display: flex;
				justify-content: space-between;
}

#edit-btn {
				width: 60px;
}

#delete-btn {
				width: 55px;				
}

::selection {
				color: #000000;
				background-color: #fff100;
}

/* Media Queries */

@media(min-width: 530px){
				.todo-app {
								width: 70%;
				}
}

@media(min-width: 700px){
				.todo-app {
								width: 65%;
				}
}

@media(min-width: 850px){
				.todo-app {
								width: 60%;
				}
}

@media(min-width: 1120px){
				.todo-app {
								width: 50%;
				}
}
